html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  z-index: 0;
}

.reveal{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease;
}

.reveal.active{
    opacity: 1;
    transform: translateY(0);
}

header{
    position: fixed;
    display: flex;
    left: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    display: inline-flex;
    transform: translateX(-50%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    padding: 10px 20px;
    color: white;
    z-index: 1000;
    background-color: transparent;
    cursor: pointer;
}

header.white-nav{
    margin: 0;
    align-items: center;
    justify-items: center;
    text-align: center;
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header.white-nav a{
    color: white
}

header.shrink h1{
  font-size: 1.2rem;
  color: white;
}

header.shrink nav a{
    color: white;
}

header.shrink nav a:hover{
    color: blueviolet;
    font-weight: bold;
    text-decoration: none;
}

.port-head{
    transition: .3s ease;
}

.port-head:hover{
    color: blueviolet;
    transform: scale(1.05);
}

.port-head a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
}

.port-head a:hover{
    color: blueviolet;
}

nav a{
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: .3s ease;
    padding: 3px;
}

nav a:hover{
    color: blueviolet;
    font-weight: bold;
    transform: scale(1.1);
}

.typing{
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid white;
    animation: typing 3.3s steps(40, end) forwards, blink 0.5s step-end infinite;    
}

@keyframes typing{

    from {width: 0; }
    to {width: 40ch;}

}

@keyframes blink {

    50% {border-color: transparent;}
    
}

.home{
    position: relative; 
    height: 100vh;  
    text-align: left;
    padding-left: 20px;
    font-size: 28px;
    justify-items: center;
    align-items: center;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.home h1{
    font-size: 36px;
    padding-left: 10px;
}

.photos-me{
    opacity: 0;
    justify-items: right;
    padding-left: 150px;
    padding-top: 30px;
    animation: fadeIn 1s ease forwards;
    animation-delay: 3s;
}

#photos-me {
  transition: opacity 0.5s ease;
  transition: ease 0.3s;
}


@keyframes fadeIn {
    to{
        transform: translateX(-40px);
        opacity: 1;
    }    
}

.photos-me img{
    height: 500px;
    border-radius: 10px;
    width: fit-content;
    flex: 1;
}

.photos-me img:hover{
    transform: translateY(-10px);
}   
.about-left{
    flex-direction: row;
    flex: 1;
}

.about{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 30px;
    padding-top: 3px;
    height: 100vh;
}

.about-edu, .about-loc{
    text-align: left;
    font-size: 20px;
}

.about h2{
    text-align: left;
}

.about-edu p, .about-loc p{
    font-size: 20px;
}

.about-text{
    flex: 1;
    font-size: 20px;
    padding-right: 30px;
    padding-top: 50px;
}

.pic-me{
    width: 480px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: auto;
    flex: 1;
    justify-content: center;
    
}

.skills{    
    padding-top: 60px;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.skills-container{
    padding-top: 30px;
}

.skill {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-decoration: none;
}

.skill-bar {
  background-color: #333;
  height: 20px;
  margin-top: 5px;
  border-radius: 10px;
  overflow: hidden;
}

.level {
  background-color: blueviolet;
  height: 100%;
  transition: width 2s ease;
  width: 0;
}

.tools{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tools li{
    color: white;
    background-color: #333;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

.tools li:hover{
    transform: scale(1.05);
}

.projects{
    padding-top: 60px;
}

.projects-cards{
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    columns: 350px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.project-img{
    object-fit: cover;
    height: 250px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.project-img:hover{
    transform: translateY(-5px)
}

.projects-cards a{
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

.card{
    color: white;
    padding: 30px;
    border-radius: 10px;
    background-color: black;
    text-align: center;
    height: fit-content;
    transition: ease .5s;
    display: inline-block;
    width: fit-content;
    margin: 0 0 20px 0;
}

.card:hover{
    transform: scale(1.05);
}

.card h1{
    transition: ease 0.3s;
}

.card:hover h1{
    color: blueviolet;
}


.card-content{
    overflow: hidden;
    transition: ease 1s;
}

.volunteering{
    padding-top: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: fit-content;
    align-items: center;
    justify-items: center;
    display: grid;
    transition: 0.3s ease;
    padding-bottom: 20px;
    gap: 20px;
}

.ex-yr{
    text-align: center;
}

.vol-card{
    font-size: 24px;
    width: 1000px;
    height: fit-content;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 15px;
    border: 5px solid transparent;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.vol-card:hover{
    border: 5px blueviolet solid;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
}


.vol-title{
    font-weight: bold;
    font-size: 20px;  
    margin: 0;
    transition: all 0.3s ease;
}

.vol-title:hover{
    transform: scale(1.05);
    color: blueviolet;
}
.positions{
    font-weight: bold;
    font-size: 18px;
}

.positions li{
    position: relative;
    margin-bottom: 20px;
}

.date{
    font-size: 12px;
}

.contact{
    margin: 80px;
    padding-top: 50px;
    align-items: center;
    justify-items: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.contact a{
    text-decoration: none;
    color: white;
}

.contact h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: bolder;
}

.contact p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.contact-card, .dwn-contact-card{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 40px;
    border-radius: 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.contact-card:hover, .dwn-contact-card:hover{
    transform: scale(1.05);
}

.dwn-contact-card:hover{
    background-color: #00c61a;
    cursor: pointer;
}

.map{
    width: 550px;
    height: 550px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.map:hover{
     box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);

}

footer{
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;   
    font-size: 20px;
    background-color: black;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    transition: 0.3s ease;
}

footer .footer-links a {
  color: white;
  font-size: 24px;
  margin: 0 15px;

}

.footer-links{
    padding-top: 100px;
}

footer .footer-links .fab, footer .footer-links .fas{
    transition: ease 0.3s;
}

footer .footer-links .fab:hover, footer .footer-links .fas:hover{
    transform: scale(1.15);
    color: blueviolet
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 36px;
    margin: 0;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size:28px
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
}